[flake8]
ignore = E501 W503
max-line-length = 120
exclude =
    __pycache__
    .mypy_cache
    .pytest_cache
    .run
    .trunk
    .venv
    .vscode
    output
    venv
    configs
    bin
    docker
    .github
    .venv
    wip
